---
import Layout from '../../layouts/Layout.astro';

// noinspection JSUnusedGlobalSymbols
export const prerender = true;

interface AcademicEvent {
    EVENT_NM: string;
    EVENT_CNTNT: string;
    AA_YMD: string;
}

// 학사 일정 데이터를 가져오는 함수
async function fetchAcademicCalendar(): Promise<AcademicEvent[]> {
    const currentYear = new Date().getFullYear();
    const fromDate = `${currentYear}0301`;
    const toDate = `${currentYear}1231`;
    const response = await fetch(`https://open.neis.go.kr/hub/SchoolSchedule?KEY=4e1af35dc1954eb8aaf573eff8653c43&Type=json&ATPT_OFCDC_SC_CODE=J10&SD_SCHUL_CODE=7531381&AA_FROM_YMD=${fromDate}&AA_TO_YMD=${toDate}&pSize=365`);
    const data = await response.json();
    return data.SchoolSchedule[1].row;
}

// 날짜 형식을 사람이 읽기 쉬운 형식으로 변환하는 함수
function formatDate(dateString: string): string {
    const date = new Date(dateString.slice(0, 4) + '-' + dateString.slice(4, 6) + '-' + dateString.slice(6, 8));
    return date.toLocaleDateString('ko-KR', { year: 'numeric', month: 'long', day: 'numeric' });
}

// 학사 일정 데이터를 가져옴
const academicCalendar: AcademicEvent[] = await fetchAcademicCalendar();
---

<Layout title="Academic Calendar">
    <body class="bg-white text-gray-900">
        <h1 class="text-3xl font-bold text-center my-8 text-black dark:text-white">학사일정</h1>

        <div class="max-w-2xl mx-auto mb-4 text-center">
            {Array.from({ length: 12 }).map((_, i) => (
                    <button
                            id={`month-button-${i + 1}`}
                            class="m-1 p-2 bg-blue-500 text-white rounded"
                    >
                        {i + 1}월
                    </button>
            ))}
        </div>

        <ul class="max-w-2xl mx-auto">
            {academicCalendar.map((event) => (
                    <li
                            class="bg-white dark:bg-black shadow-md rounded-lg p-4 mb-4"
                            data-month={new Date(event.AA_YMD.slice(0, 4) + '-' + event.AA_YMD.slice(4, 6) + '-' + event.AA_YMD.slice(6, 8)).getMonth() + 1}
                    >
                        <h5 class="text-lg font-semibold">{formatDate(event.AA_YMD)}</h5>
                        <strong class="block text-xl">{event.EVENT_NM}</strong>{event.EVENT_CNTNT}
                    </li>
            ))}
        </ul>

        <script>
            function scrollToMonth(month: number) {
                const eventElement = document.querySelector(`[data-month="${month}"]`);
                if (eventElement) {
                    eventElement.scrollIntoView({ behavior: 'smooth' });
                }
            }

            document.addEventListener('DOMContentLoaded', () => {
                Array.from({ length: 12 }, (_, i) => {
                    const button = document.getElementById(`month-button-${i + 1}`);
                    if (button) {
                        button.addEventListener('click', () => scrollToMonth(i + 1));
                    }
                });
            });
        </script>
    </body>
</Layout>
